<div class="add-person-page">
  <h1>Add Person Details</h1>
  <%= form_with(model: [@person, @person_detail], url: person_details_path(@person, @person_detail), local: true, method: :post) do |form| %>

    <%= render 'form_fields', form: form %>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>